main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
  color: rgb(255, 72, 0);
}

header{
  color: rgb(255, 72, 0);
}

main li{
  box-shadow: 10px 5px 5px grey;
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  color: blue;
  text-decoration: underline;
}

footer{
  color: rgb(255, 72, 0);
  border: thin solid black;
}

.img {
  box-shadow: 10px 5px 5px grey;
  height: 200px;
  border-radius:20px;
  }